body { 
    background-color:rgb(86, 98, 246);
    font-family: 'Nanum Gothic', sans-serif;

}

.bb{
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(79, 82, 91);
}
.d1{
    color: white ;
    margin: 2px;
}
.lb{
    align-self: flex-start;
}
.tb{
	margin: 5px;
    padding: 7px;
	border-radius: 30px;
	outline-style: none;
    border-inline-style: none;
    border-style: none;
    background-color: rgb(109, 111, 120);
    cursor:none;
    text-indent: 4px;
    color: white;
    
}
button{
    margin: 5px;
    border-radius: 10px ;
    padding: 10px 15px;
    background-color: rgb(92, 106, 255);
    border: none;
    color:azure;
    box-shadow: 2px 2px  gray;
}

button:active {
    box-shadow:none;
    cursor: pointer;
  }